p 
{
    border: 5px solid red;
    outline-style: solid ;
    outline-color: aqua;
    text-align: justify;
    /* text-align-last: justify; */
    text-decoration-color: blue;
    text-decoration-line:overline ;
    text-decoration-line: line-through;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
    /* text-transform: lowercase; */
    text-indent: 50px;
    letter-spacing: 5px;
    line-height: 50px;
    word-spacing: 10px;
    text-shadow: 50px;
    white-space: 30px;

}

img 
{
    border: 5px dashed blue;
    border-radius: 500px;
    
}

body
{
    background-color: blueviolet;
}