p 
{
    border: 5px solid red;
    outline-style: solid ;
    outline-color: aqua;
    text-align: justify;
    /* text-align-last: justify; */
    text-decoration-color: blue;
    text-decoration-line:overline ;
    text-decoration-line: line-through;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    text-indent: 50px;
    letter-spacing: 5px;
    line-height: 50px;
    word-spacing: 10px;
    /* text-shadow: 2px 2px 5px red; */
    text-shadow: 0px 0px 10px green, 0px 0px 15px yellow;
    /* white-space: nowrap; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: Arial;
    font-style: italic;
    font-weight: bolder;
    /* font-variant: small-caps; */
    font-size: large;
    font-size: 30px;

}

img 
{
    border: 5px dashed blue;
    border-radius: 500px;
    
}

body
{
    background-color: blueviolet;
}